@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #171717;
}
::selection{
    background:  rgba(255,195,113,1);
    color: white;
}
::-moz-selection {
    background: rgba(255,195,113,1);
    color: white;
}
html {
    font-family: 'Barlow', sans-serif;
}
.content {
    padding: 20px 10vw;
}
h1, h2, h3 {
    background: linear-gradient(45deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 20px;
}
img {
    width: 100%;
    max-width: 750px;
    margin-bottom: 1rem;
}
b {
    font-weight: 600;
}
.underline {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
}
a {
    color: #171717;
}
a:hover {
    color: #171717;
    text-decoration: underline;
}
ul {
    padding: 0 20px;
    margin-bottom: 1rem;
}
.img-src {
    font-size: 0.7rem;
    margin-top: -18px;
}